@import "../../style/variable";
@import "../../style/mixins";

footer {
  background-image: url(../../img/footer-bg.jpg);
  min-height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex(c, c, 0);
  > img {
    max-width: 100px;
    object-fit: cover;
    display: block;
  }
  > h2 {
    color: $mw;
    margin-left: 10px;
  }
}
